* {
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  font-family: "Poppins";
  margin: 0;
  align-items: center;
  background-image: url(snow.jpg);
  min-height: 100vh;
  background-size: cover;
  background-position: bottom bottom;
}

h1 {
  font-size: 4rem;
  margin-top: -10rem;
  font-weight: normal;
  margin-top: 5rem;
}

.container {
  display: flex;
}

.big-text {
  font-size: 6rem;
  line-height: 1;
  margin: 3rem 2rem 0rem 2rem;
  
  font-weight: bold;
}

.countdown {
  text-align: center;
}
.countdown span {
  font-size: 1.5rem;
}

/* Responsive */

@media screen and (max-width: 1440px) {
  body {
    background-repeat: no-repeat;
  }
  h1 {
    font-size: 2.5rem;
	font-weight: bold;
    margin: 5px;
    text-align: center;
    margin-top: 2rem;
  }

  .container{
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
	margin-top: 50px;
	margin-right: 250px;
  }
  .big-text {
	font-size: 3.5rem;
	line-height: 1;
	margin: 2rem 0rem 0rem 2rem;
	font-weight: bold;
  }
}
